body{
  background-color: #94F0A4;
  text-align: center;
}

.simon_container{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: 350px;
}

.simon_device{
  width: 250px;
  height: 250px;
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  padding-top: 15px;
  border: solid;
  border-radius: 150px;
}

.simon_buttons{
  width: 250px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: -1px;
  margin-left: -18px;
}

#left_upper_arc{
    border-left: 50px solid;
    border-top: 50px solid;
    border-radius: 360px 0 0 0;
    background-color: #1CE134;
    border-color: #1CE134;
    float: left;
    height: 100px;
    width: 103px;
    align-items: right;
}

#right_upper_arc{
    border-right: 50px solid;
    border-top: 50px solid;
    border-color: #FF1F1F;
    background-color: #FF1F1F;
    border-radius: 0 360px 0 0;
    float: right;
    height: 100px;
    width: 103px;
    margin-left: -33px;
}

#left_bottom_arc{
    border-left: 50px solid #FFF81F;
    border-bottom: 50px solid #FFF81F;
    border-radius: 0 0 0 360px;
    background-color: #FFF81F;
    float: left;
    height: 100px;
    width: 103px;
    margin-top: 5px;
}

#right_bottom_arc{
    border-bottom: 50px solid #2E5BD4;
    border-right: 50px solid #2E5BD4;
    border-radius: 0 0 360px 0;
    background-color: #2E5BD4;
    float: right;
    height: 100px;
    width: 103px;
    margin-top: 5px;
}

#startGame {
  margin-top: 20px;
}

#start_button {
  height: 50px;
  float: right;
  border-radius: 8px;
  box-shadow: 0 5px 0 gray;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

#counter_display{
  width: 50px;
  height: 50px;
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: red;
  padding-top: 5px;
  float: left;
  border-radius: 5px;
}

footer {
  color: black;
  font-weight: bold;
  text-align: center;
}
