body{
  background-color: gray;
  text-align: center;
}

.simon_container{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 300px;
  background-color: white;
}

.simon{
  margin-top: 25px;
  width: 250px;
  height: 250px;
  background-color: black;
  padding-top: 15px;
  /*padding-left: 25px*/
  border: solid;
  border-radius: 150px;
}

.simon_buttons{
  width: 250px;
  height: 100px;
  margin-bottom: 10px;
}

.left_upper_arc{
    border-left: 45px solid green;
    border-top: 45px   solid green;
    border-radius: 360px 0 0 0;
    float: left;
    height: 100px;
    /*padding-top: 1px;*/
    width: 100px;
    align-items: right;
}

.right_upper_arc{
    border-right: 45px solid red;
    border-top: 45px solid red;
    border-radius: 0 360px 0 0;
    /*clear:left;*/
    float: right;
    height: 100px;
    /*padding-top: 1px;*/
    width: 100px;
    margin-left: 3px;
}

.left_bottom_arc{
    border-left: 45px solid yellow;
    border-bottom: 45px solid yellow;
    border-radius: 0 0 0 360px;
    float: left;
    height: 100px;
    /*padding-top: 1px;*/
    width: 100px;
    margin-top: 5px;
}

.right_bottom_arc{
    border-bottom: 45px solid blue;
    border-right: 45px solid blue;
    border-radius: 0 0 360px 0;
    float: right;
    height: 100px;
    /*padding-top: 1px;*/
    width: 100px;
    margin-top: 5px;
}

.simon_center{
  text-align: center;
  background-color: orange;
  margin: 48px 50px auto;
  width: 120px;
  height: 120px;
  border: solid;
  border-radius: 150px;
  position: absolute;

}
